<!DOCTYPE html>
<html>
<head>
    <title>Tech demo</title>
    <script src="https://unpkg.com/konva@7.2.5/konva.min.js"></script>
    <meta charset="utf-8" />
    <style>
        body {
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #f0f0f0;
        }
      </style>
</head>
<body>
    <h1>Example drag and drop UI below</h1>
    <div id="mainwindow"></div>
    <script>
      function writeMessage(message) 
      {
        text.text(message);
        layer.draw();
      }
      var width = window.innerWidth;
      var height = window.innerHeight;

    var stage = new Konva.Stage(
    {
        container: 'mainwindow',
        width: width,
        height: height,
    });

      var layer = new Konva.Layer();

      var text = new Konva.Text(
    {
        x: 10,
        y: 10,
        fontFamily: 'Calibri',
        fontSize: 24,
        text: '',
        fill: 'black',
    });

    var egBoxA = new Konva.Rect(
    {
        x: 20,
        y: 100,
        offset: [50, 25],
        width: 100,
        height: 50,
        fill: '#00D2FF',
        stroke: 'black',
        strokeWidth: 4,
        draggable: true,
    });
    var egBoxB = new Konva.Rect(
    {
        x: 100,
        y: 20,
        offset: [50, 25],
        width: 100,
        height: 50,
        fill: '#FF0000',
        stroke: 'black',
        strokeWidth: 4,
        draggable: true,
    });

    egBoxA.on('dragstart', function () 
      {
        writeMessage('Blue server moving');
      });
    egBoxA.on('dragend', function () 
      {
        writeMessage('Blue server stopped moving');
      });

    egBoxB.on('dragstart', function () 
      {
        writeMessage('Red server moving');
      });
    egBoxB.on('dragend', function () 
      {
        writeMessage('Red server stopped moving');
      });

      layer.add(text);
      layer.add(egBoxA);
      layer.add(egBoxB);

      stage.add(layer);
    </script>
</body>
</html>